body {
  background-image: url("pics/WP.jpg");
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

footer {
  background-color: whitesmoke;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: center;
}

footer .buttons {
  margin-left: auto;
}

.footer-overlap-image {
  position: absolute;
  top: -50px; /* This pushes half the image above the footer */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  border: 5px solid whitesmoke;
}

.footer-overlap-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
} 

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.buttons {
  padding: 10px;
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
  color: black;
  font-size: 20px;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}