body {
  background-image: url("pics/WP.jpg");
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}


h1 {
  font-size: xx-large;
  font-family: 'Monaco', 'Lucida Console', monospace"
}